/* *= require_tree ./vendor */

@import "_mixins";
@import "_pygments";

// Base colors and fonts
html, body {
  background: #fff;
  font-family: "proxima-nova", sans-serif;  font-size: 18px;
  line-height: 1.45;  color: #333;
}
a {
  text-decoration: none;
  color: #333;
  &:hover {
    color: #777;
    background: #fafafa;
  }
  &:active {
    color: #222;
  }
  &:visited {
    color: #999;
  }
}
small {
  font-size: 12px;
}
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
ul, ol {
  padding-left: 20px;
  margin-bottom: 1.5em;
  list-style-position: outside;
  ul, ol {
    margin-bottom: 0;
  }
  li {
    margin-bottom: 0.25em;
    p {
      margin-bottom: 0 !important;
    }
  }
}
ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  color: #444;  font-weight: 600;
  a {
    color: #444;
    &:visited {
      color: #444;
    }
  }
}
h1 { font-size: 1.75em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
code, .code, .linenos {
  padding: 3px 5px;
  border-radius: 5px;
  background: #f6f6f6;
  font: 0.75em "Monaco", Courier, Monospace;
  line-height: 1.5em;
}
hr {
  display: block;
  margin-bottom: 15px;
  width: 100%;  height: 1px;
  background: none;  border-width: 0 0 1px;
  border-bottom: 1px dotted #aaa;
}
::selection {
  background: #5bc989;
  color: #fff;
}
::-moz-selection {
  background: #5bc989;
  color: #fff;
}

// Page Layout
#body {
  position: relative;
  padding-left: 180px;
  width: 600px;
  margin: 100px 100px 20px;
}
#gradient {
  position: fixed;
  top: 0;  left: 0;
  width: 100%;  height: 100px;
  background: url(./images/gradient.png) repeat-x top left;
  z-index: 99;
}

// Sidebar Menu
#menu {
  position: fixed;
  top: 105px;  left: 110px;
  width: 100px;
  #logo {
    display: block;  float: right;
    margin: 0 0 25px;
    width: 55px;  height: 34px;
    background: url(./images/logo.png) no-repeat top left;
    text-indent: -9999em;
  }
  ul {
    padding: 0;  margin: 0;
    width: 100%;  clear: both;
    list-style-type: none;
    li {
      margin: 0 0 5px;
      text-align: right;
      a {
        padding: 3px 5px;
        background: #fcfcfc;
        font-size: 0.8em;
        color: #888;
        &:hover, &:visited {
          color: #888;
        }
        &:hover {
          background: #efefef;
        }
        &:active {
          color: #222;
        }
      }
    }
  }
}

// Posts
.post {
  &:not(.page) {
    > .post-content > p:first-child {
      font-size: 1.3em;  line-height: 1.4em;
    }
  }
  h1.heading {
    margin-bottom: 0.1em;
    font-size: 1.6em;  line-height: 1.2em;
  }
  p {
    margin-bottom: 1.5em;
    &.meta, &.meta a {
      font-size: 18px;  color: #b2b1b1;
    }
  }
  .post-content {
    a {
      font-weight: 600;
      background: #f8f8f8;
      &:hover {
        background: #f1f1f1;
      }
    }
    img {
      display: block;
      margin: 30px 0;
      border: 8px solid #fff;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 5px rgba(0,0,1,0.3),inset 0 0 18px rgba(0,0,0,0.1);
      -moz-box-shadow: 0 1px 5px rgba(0,0,1,0.3),inset 0 0 18px rgba(0,0,0,0.1);
      box-shadow: 0 1px 5px rgba(0,0,1,0.3),inset 0 0 18px rgba(0,0,0,0.1);
      margin-left: -8px;
      &.image-left {
        float: left;
        margin: 10px 20px 5px 0;
      }
      &.image-right {
        float: left;
        margin: 10px 0 5px 20px;
      }
      &.small {
        max-width: 100px;
      }
    }
    .author, .note, .download, blockquote {
      width: 100%;
      padding: 15px;
      margin-left: -15px;
      margin-bottom: 30px;
      background: #fafafa;
      h3 {
        margin-bottom: 0.5em;
      }
      .content {
        position: relative;
        padding-right: 115px;
        font-size: 0.8em;
        .avatar {
          position: absolute;
          top: 2px;  right: 0;
          img {
            margin: 0;
            max-width: 80px;
          }
        }
      }
      &.download {
        text-align: center;
        a {
          &.primary, &.secondary {
            margin: 0 5px;
            padding: 3px 8px;
            font-size: 1.2em;
          }
          &.primary {
            background: #555;
            color: #fff;
          }
          &.secondary {
            background: #777;
            color: #fff;
          }
          &:hover {
            background: #444;
          }
          &:active {
            background: #222;
          }
        }
      }
      &.small {
        font-size: 0.85em;
      }
    }
    blockquote {
      p {
        margin-bottom: 0;
      }
    }
  }
}
.latest-post {
  padding-bottom: 10px;  margin-bottom: 35px;
  border-bottom: 1px dotted #aaa;
  h1.heading {
    margin-bottom: 0;
    font-size: 1.4em;  line-height: 1.2em;
  }
  p {
    &.meta, &.meta a {
      margin-bottom: 0.75em;
      color: #b2b1b1;
    }
  }
  .post-content {
    padding-bottom: 1.4em;
    > p:first-child {
      font-size: 1em;  line-height: 1em;
    }
    > p:last-child {
      margin-bottom: 0;
    }
  }
}
.archived-posts {
  position: relative;
  left: -15px;
  padding: 0;  margin: 0 0 30px;
  list-style-position: outside;  list-style-type: none;
  li {
    padding-left: 15px;  margin-bottom: 3px;
    background: url(./images/bullet.png) no-repeat 0 9px;
    font-size: 0.9em;  font-weight: 600;
  }
}
.pagination {
  font-size: 0.9em;
  .pages, .disabled {
    color: #aaa;
  }
  .bullet {
    padding: 0 10px;
    color: #ddd;
  }
  a:visited {
    color: #333;
  }
}
.post-nav {
  width: 100%;
  padding: 20px 0;
  margin: 0;
  list-style-type: none;
  font-size: 0.8em;
  border: 1px dotted #aaa;
  border-width: 1px 0;
  li {
    margin-bottom: 0;
    &.next {
      margin-top: 5px;
      text-align: right;
    }
  }
  a, a:visited {
    color: #333;
  }
  a:hover {
    color: #333;
  }
}
.comments {
  margin-top: 30px;
}

.contributors, .projects {
  list-style-type: none;
  padding: 0;  margin: 0;
  li {
    position: relative;
    padding: 5px 0 30px 180px;
    min-height: 140px;
    img {
      position: absolute;
      top: 0;  left: 0;
      padding: 0 !important;  margin: 0 !important;
      width: 140px;  height: 140px;
      border-radius: 140px;
      -moz-border-radius: 140px;
      -webkit-border-radius: 140px;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
    h4 {
      margin-bottom: 0.3em;
    }
  }
}

// Footer
#footer {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px dotted #ddd;
  .top {
    float: right;
    color: #ccc;
    &:hover {
      background: #fff;
      color: #666;
    }
  }
  .copyright {
    font-size: 13px;  color: #777;
  }
}