---
layout: default
---
{% if paginator.page == 1 %}
  <section class="latest-post">
    {% assign page = site.posts.first %}
    {% assign content = page.excerpt %}
    {% assign homepage = true %}
    {% assign author = site.authors[page.author] %}
    {% include post.html %}
    <a href="{{ page.url }}" class="button primary small">Continue Reading &rarr;</a>
  </section>
{% endif %}

<ul class="archived-posts">
  {% for post in paginator.posts %}
    {% if post != site.posts.first %}
      {% if post.external-url %}
        <li>
          <a href="{{ post.external-url }}">{{ post.title }}</a>
          <a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
        </li>
      {% else %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
  <div class="pagination">

    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="prev" href="/">&larr; Previous</a>
      {% else %}
        <a class="prev" href="/{{paginator.previous_page}}/">&larr; Previous</a>
      {% endif %}
    {% else %}
      <span class="disabled">&larr; Previous</span>
    {% endif %}

    <span class="bullet">&bull;</span>

    <span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    <span class="bullet">&bull;</span>

    {% if paginator.next_page %}
      <a class="next" href="/{{paginator.next_page}}/">Next &rarr;</a>
    {% else %}
      <span class="disabled">Next &rarr;</span>
    {% endif %}

  </div>
{% endif %}

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'devgrow'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>