@charset "UTF-8";/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr, .post-nav, .share .share-links {
  zoom: 1; }
  hr:before, .post-nav:before, .share .share-links:before, hr:after, .post-nav:after, .share .share-links:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  hr:after, .post-nav:after, .share .share-links:after {
    clear: both; }

.highlighttable {
  display: block;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-left: 0.3em solid #dcdcdc;
  background: #f6f6f6;
  color: #616161;
  overflow: auto; }
  .highlighttable .linenos {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    padding-right: 20px;
    text-align: center;
    color: #999; }

.highlight .hll {
  background-color: #d6d6d6; }
.highlight .c {
  color: #8e908c; }
.highlight .err {
  color: #c82829; }
.highlight .k {
  color: #8959a8; }
.highlight .l {
  color: #f5871f; }
.highlight .n {
  color: #4d4d4c; }
.highlight .o {
  color: #3e999f; }
.highlight .p {
  color: #4d4d4c; }
.highlight .cm {
  color: #8e908c; }
.highlight .cp {
  color: #8e908c; }
.highlight .c1 {
  color: #8e908c; }
.highlight .cs {
  color: #8e908c; }
.highlight .gd {
  color: #c82829; }
.highlight .ge {
  font-style: italic; }
.highlight .gh {
  color: #4d4d4c;
  font-weight: 600; }
.highlight .gi {
  color: #718c00; }
.highlight .gp {
  color: #8e908c;
  font-weight: 600; }
.highlight .gs {
  font-weight: 600; }
.highlight .gu {
  color: #3e999f;
  font-weight: 600; }
.highlight .kc {
  color: #8959a8; }
.highlight .kd {
  color: #8959a8; }
.highlight .kn {
  color: #3e999f; }
.highlight .kp {
  color: #8959a8; }
.highlight .kr {
  color: #8959a8; }
.highlight .kt {
  color: #eab700; }
.highlight .ld {
  color: #718c00; }
.highlight .m {
  color: #f5871f; }
.highlight .s {
  color: #718c00; }
.highlight .na {
  color: #4271ae; }
.highlight .nb {
  color: #4d4d4c; }
.highlight .nc {
  color: #eab700; }
.highlight .no {
  color: #c82829; }
.highlight .nd {
  color: #3e999f; }
.highlight .ni {
  color: #4d4d4c; }
.highlight .ne {
  color: #c82829; }
.highlight .nf {
  color: #4271ae; }
.highlight .nl {
  color: #4d4d4c; }
.highlight .nn {
  color: #eab700; }
.highlight .nx {
  color: #4271ae; }
.highlight .py {
  color: #4d4d4c; }
.highlight .nt {
  color: #3e999f; }
.highlight .nv {
  color: #c82829; }
.highlight .ow {
  color: #3e999f; }
.highlight .w {
  color: #4d4d4c; }
.highlight .mf {
  color: #f5871f; }
.highlight .mh {
  color: #f5871f; }
.highlight .mi {
  color: #f5871f; }
.highlight .mo {
  color: #f5871f; }
.highlight .sb {
  color: #718c00; }
.highlight .sc {
  color: #4d4d4c; }
.highlight .sd {
  color: #8e908c; }
.highlight .s2 {
  color: #718c00; }
.highlight .se {
  color: #f5871f; }
.highlight .sh {
  color: #718c00; }
.highlight .si {
  color: #f5871f; }
.highlight .sx {
  color: #718c00; }
.highlight .sr {
  color: #718c00; }
.highlight .s1 {
  color: #718c00; }
.highlight .ss {
  color: #718c00; }
.highlight .bp {
  color: #4d4d4c; }
.highlight .vc {
  color: #c82829; }
.highlight .vg {
  color: #c82829; }
.highlight .vi {
  color: #c82829; }
.highlight .il {
  color: #f5871f; }

html, body {
  background: #53a1e3 url(./images/bg-tile-blue.png) repeat;
  font-family: "proxima-nova", sans-serif;
  font-size: 19px;
  line-height: 1.45;
  color: #333; }

a {
  text-decoration: none;
  color: #b65a2d; }
  a:hover {
    color: #ef7940;
    background: #fffdef; }
  a:active {
    color: #923000; }
  a:visited {
    color: #923000; }

small {
  font-size: 12px; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

ul, ol {
  padding-left: 20px;
  margin-bottom: 1.5em;
  list-style-position: outside; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }
  ul li, ol li {
    margin-bottom: 0.25em; }
    ul li p, ol li p {
      margin-bottom: 0 !important; }

ul {
  list-style-type: circle; }

ol {
  list-style-type: decimal; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  color: #444;
  font-weight: 600; }

h1 {
  font-size: 1.75em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.1em; }

code, .code, .linenos {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 5px;
  background: #f6f6f6;
  font: 0.75em "Monaco", Courier, Monospace;
  line-height: 1.5em; }

hr {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 1px;
  background: none;
  border-width: 0 0 5px;
  border-bottom: 5px solid #efefef; }

::selection {
  background: #5bc989;
  color: #fff; }

::-moz-selection {
  background: #5bc989;
  color: #fff; }

.left {
  float: left; }

.right {
  float: right; }

.button, a.button, input.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #888;
  font-weight: 600;
  color: #fff; }
  .button:hover, a.button:hover, input.button:hover {
    background: #aaa; }
  .button:active, a.button:active, input.button:active {
    background: #666; }
  .button.primary, .button.secondary, a.button.primary, a.button.secondary, input.button.primary, input.button.secondary {
    padding: 5px 10px;
    font-size: 1.3em; }
  .button.primary, a.button.primary, input.button.primary {
    background: #6e9c25; }
    .button.primary:hover, a.button.primary:hover, input.button.primary:hover {
      background: #80b42e; }
    .button.primary:active, a.button.primary:active, input.button.primary:active {
      background: #557d15; }
  .button.secondary, a.button.secondary, input.button.secondary {
    background: #58a3e3; }
    .button.secondary:hover, a.button.secondary:hover, input.button.secondary:hover {
      background: #60b0f4; }
    .button.secondary:active, a.button.secondary:active, input.button.secondary:active {
      background: #397bb3; }
  .button.small, a.button.small, input.button.small {
    padding: 5px 8px;
    font-size: 0.9em; }

#body {
  position: relative;
  min-width: 600px;
  max-width: 900px;
  padding: 80px 110px 60px 60px;
  margin-right: 150px;
  background: transparent url(./images/bg-content.png) repeat-y right -20px; }

a.home {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 10 ")";
  filter: alpha(opacity=10);
  zoom: 1;
  position: absolute;
  display: block;
  top: 40px;
  left: 40px;
  width: 38px;
  height: 18px;
  background: transparent url(./images/icon-home.png) no-repeat top left;
  text-indent: -9999em; }
  a.home:hover {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 30 ")";
    filter: alpha(opacity=30);
    zoom: 1;
    background: transparent url(./images/icon-home.png) no-repeat top left; }

#menu {
  position: absolute;
  top: 80px;
  right: -150px;
  width: 140px; }
  #menu #logo {
    display: block;
    margin: 0 0 15px;
    width: 103px;
    height: 40px;
    background: url(./images/logo.png) no-repeat top left;
    text-indent: -9999em; }
  #menu ul {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    clear: both;
    list-style-type: none; }
    #menu ul li {
      margin: 0 0 7px; }
      #menu ul li a {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        padding: 3px 7px;
        background: #2f80c4;
        font-size: 1em;
        font-weight: bold;
        color: #fff; }
        #menu ul li a:hover, #menu ul li a:visited {
          color: #fff; }
        #menu ul li a:hover {
          background: #256ba5; }
        #menu ul li a:active {
          background: #256ba5; }
    #menu ul.social {
      margin-bottom: 10px; }
      #menu ul.social li {
        float: left;
        margin-left: -3px; }
        #menu ul.social li:first-child {
          margin-left: 0; }
        #menu ul.social li a {
          -moz-border-radius: 140px;
          -webkit-border-radius: 140px;
          -ms-border-radius: 140px;
          border-radius: 140px;
          position: relative;
          display: block;
          padding: 0;
          width: 30px;
          height: 30px;
          background: #2f80c4;
          background-repeat: no-repeat;
          background-position: center center;
          line-height: 0;
          text-indent: -9999em;
          z-index: 1; }
          #menu ul.social li a.twitter {
            background-image: url(./images/icon-twitter.png); }
          #menu ul.social li a.fb {
            background-image: url(./images/icon-fb.png); }
          #menu ul.social li a.github {
            background-image: url(./images/icon-github.png); }
          #menu ul.social li a:hover {
            background-color: #256ba5;
            z-index: 2; }

.post:not(.page) > .post-content > p:first-child {
  font-size: 1.3em;
  line-height: 1.4em; }
.post h1.heading {
  margin-bottom: 0.1em;
  font-size: 1.6em;
  line-height: 1.2em; }
  .post h1.heading a, .post h1.heading a:visited {
    color: #444; }
  .post h1.heading a:hover {
    color: #923000; }
.post p {
  margin-bottom: 1.5em; }
  .post p.meta, .post p.meta a {
    color: #b2b1b1; }
.post .post-content a:not(.button) {
  font-weight: 600; }
  .post .post-content a:not(.button):hover {
    background: none; }
.post .post-content img {
  display: block;
  position: relative;
  left: -8px;
  margin: 30px auto;
  border: 8px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 1, 0.3), inset 0 0 18px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 1, 0.3), inset 0 0 18px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 1, 0.3), inset 0 0 18px rgba(0, 0, 0, 0.1); }
  .post .post-content img.image-left {
    float: left;
    left: 0;
    margin: 10px 20px 5px 0; }
  .post .post-content img.image-right {
    float: right;
    left: 0;
    margin: 10px 0 5px 20px; }
  .post .post-content img.small {
    max-width: 100px; }
.post .post-content .note, .post .post-content .download, .post .post-content blockquote {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  margin-left: -15px;
  margin-bottom: 30px;
  background: #fafafa; }
  .post .post-content .note h3, .post .post-content .download h3, .post .post-content blockquote h3 {
    margin-bottom: 0.5em; }
  .post .post-content .note .content, .post .post-content .download .content, .post .post-content blockquote .content {
    position: relative;
    padding-right: 115px;
    font-size: 0.8em; }
    .post .post-content .note .content .avatar, .post .post-content .download .content .avatar, .post .post-content blockquote .content .avatar {
      position: absolute;
      top: 2px;
      right: 0; }
      .post .post-content .note .content .avatar img, .post .post-content .download .content .avatar img, .post .post-content blockquote .content .avatar img {
        margin: 0;
        max-width: 80px; }
  .post .post-content .note.download, .post .post-content .download.download, .post .post-content blockquote.download {
    text-align: center; }
    .post .post-content .note.download a.button, .post .post-content .download.download a.button, .post .post-content blockquote.download a.button {
      margin: 0 5px; }
  .post .post-content .note.small, .post .post-content .download.small, .post .post-content blockquote.small {
    font-size: 0.85em; }
.post .post-content blockquote p {
  margin-bottom: 0; }

.latest-post {
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 5px solid #efefef; }
  .latest-post p.meta, .latest-post p.meta a {
    margin-bottom: 0.75em; }
  .latest-post .post-content {
    padding-bottom: 1em;
    font-size: 1.1em; }
    .latest-post .post-content > p:last-child {
      margin-bottom: 0; }

.archived-posts {
  position: relative;
  left: -15px;
  padding: 0;
  margin: 0 0 30px;
  list-style-position: outside;
  list-style-type: none; }
  .archived-posts li {
    padding-left: 15px;
    margin-bottom: 3px;
    background: url(./images/icon-bullet.png) no-repeat 0 9px;
    font-size: 1em;
    font-weight: 600; }
    .archived-posts li a {
      color: #444444; }
      .archived-posts li a:hover {
        color: #923000; }

.pagination .pages, .pagination .disabled {
  color: #aaa; }
.pagination .bullet {
  padding: 0 10px;
  color: #ddd; }

.tags {
  padding-top: 10px;
  font-size: 0.85em;
  line-height: 2em; }
  .tags .tag {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 7px;
    background: #2f80c4;
    color: #fff;
    font-size: 0.9em; }
    .tags .tag:hover, .tags .tag:visited {
      color: #fff; }
    .tags .tag:hover {
      background: #256ba5; }
    .tags .tag:active {
      background: #256ba5; }

.post-nav {
  width: 100%;
  padding: 30px 0;
  margin: 30px 0 0;
  list-style-type: none;
  font-size: 0.8em;
  line-height: 1.2em;
  border-top: 5px solid #fafafa; }
  .post-nav li {
    position: relative;
    width: 40%;
    min-width: 150px;
    margin-bottom: 0; }
    .post-nav li small {
      display: block;
      text-transform: uppercase;
      color: #bbb;
      font-weight: 600; }
    .post-nav li.prev {
      float: left;
      padding-left: 40px; }
      .post-nav li.prev a:after {
        content: '«';
        left: 0px; }
    .post-nav li.next {
      float: right;
      padding-right: 40px;
      text-align: right; }
      .post-nav li.next a:after {
        content: '»';
        right: 0px; }
  .post-nav a {
    color: #2f80c4; }
    .post-nav a:visited {
      color: #2f80c4; }
    .post-nav a:after {
      display: block;
      position: absolute;
      color: #F4F5F7;
      font-size: 56px;
      margin-top: -11px;
      height: 22px;
      line-height: 22px;
      top: 55%; }
    .post-nav a:hover:after {
      color: #a9c7e0; }

.share {
  padding-top: 10px; }
  .share .share-links {
    list-style-type: none;
    padding: 0;
    padding-top: 10px; }
    .share .share-links li {
      float: left;
      margin: 0;
      padding-top: 5px;
      cursor: pointer; }
      .share .share-links li.bitcoin {
        float: right;
        padding-top: 0;
        height: 30px; }

.author {
  position: relative;
  padding: 5px 0 30px 180px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 25px 25px 20px 105px;
  min-height: 55px;
  background: #fafafa;
  font-size: 0.9em; }
  .author img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
    margin: 0 !important;
    width: 140px;
    height: 140px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  .author h4 {
    margin-bottom: 0.3em;
    line-height: 1em; }
  .author img {
    -moz-border-radius: 140px;
    -webkit-border-radius: 140px;
    -ms-border-radius: 140px;
    border-radius: 140px;
    top: 22px;
    left: 20px;
    width: 60px;
    height: auto;
    border: 5px solid #fff; }

.comments {
  margin-top: 30px; }

.contributors, .projects {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .contributors li, .projects li {
    position: relative;
    padding: 5px 0 30px 180px;
    min-height: 140px; }
    .contributors li img, .projects li img {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 !important;
      margin: 0 !important;
      width: 140px;
      height: 140px;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important; }
    .contributors li h4, .projects li h4 {
      margin-bottom: 0.3em;
      line-height: 1em; }
    .contributors li h4, .projects li h4 {
      margin-top: 0.75em; }
    .contributors li img, .projects li img {
      -moz-border-radius: 140px;
      -webkit-border-radius: 140px;
      -ms-border-radius: 140px;
      border-radius: 140px;
      position: absolute !important; }

#footer {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 5px solid #efefef; }
  #footer .top {
    float: right;
    color: #ccc; }
    #footer .top:hover {
      background: #fff;
      color: #666; }
  #footer .mixpanel {
    line-height: 0;
    opacity: 0.6; }
    #footer .mixpanel:hover {
      opacity: 1; }
  #footer .copyright {
    font-size: 0.8em;
    color: #aaa; }

@media screen and (max-width: 940px) {
  #body {
    min-width: 600px;
    max-width: 900px;
    padding: 150px 100px 60px 60px;
    margin-right: 0; }

  a.home {
    display: none; }

  #menu {
    position: absolute;
    top: 60px;
    right: 90px;
    left: 60px;
    width: auto; }
    #menu #logo {
      float: left;
      margin-right: 10px;
      background-image: url(./images/logo-dark.png); }
    #menu ul.social {
      position: relative;
      float: right;
      top: 6px;
      width: auto;
      clear: none; }
    #menu ul.nav {
      position: relative;
      float: left;
      top: 6px;
      width: auto;
      clear: none; }
      #menu ul.nav li {
        float: left;
        margin-right: 7px; }
        #menu ul.nav li a {
          padding: 2px 5px;
          color: #2f80c4;
          font-size: 0.85em;
          background: #fafafa; }
          #menu ul.nav li a:hover {
            color: #fff;
            background: #2f80c4; } }
@media screen and (max-width: 775px) {
  #body {
    min-width: 400px;
    max-width: 600px;
    padding: 150px 100px 60px 60px;
    margin-right: 0; }

  a.home {
    display: none; }

  #menu {
    width: 430px; }
    #menu ul.social {
      display: none; }

  .post .post-content img {
    width: 100%; } }
@media screen and (max-width: 590px) {
  html, body {
    font-size: 16px;
    line-height: 1.3; }

  #body {
    min-width: 300px;
    max-width: 400px;
    padding: 150px 50px 40px 30px;
    margin-right: 0;
    background: transparent url(./images/bg-content-small.png) repeat-y right -20px; }

  a.home {
    display: none; }

  #menu {
    top: 30px;
    right: auto;
    left: 30px;
    width: 320px;
    min-width: auto !important; }
    #menu ul.social {
      display: none; }

  .post .post-content img {
    width: 100%; }

  .share-links li:last-child {
    display: none; } }
