<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript" src="//use.typekit.net/hrp2rxy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href="/assets/application.css" rel="stylesheet" />

</head>

<body>
  <div id="bar"></div>
  <div id="gradient"></div>

  <section id="body">
    <nav id="menu">
      <a href="/" id="logo">DevGrow.com - Design, Develop, Grow</a>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/contribute">Contribute</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/archives">Archive</a></li>
      </ul>
    </nav>

    <section id="content">
      {{ content }}
      <footer id="footer">
        <a class="top" href="#top">&#x25B2;</a>
        <p class="copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name }}</p>
      </footer>
    </section>
  </section>

</body>
</html>